<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0d6efd">
    <!-- Bootstrap -->

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

    <link href="/stylesheets/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <!-- <script src="https://kit.fontawesome.com/794501ab65.js" crossorigin="anonymous"></script> -->
    <link rel='stylesheet' href='/stylesheets/lib.css' />

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>Document</title>

    <style>
        form .requiredX {
            position: relative;
            top: 5px;
        }
        
        audio,
        source {
            border-radius: 25px !important;
            background: transparent !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top py-0 shadow">
        <div class=" container ps-lg-5">
            <a class="text-30 navbar-brand text-primary " href="/ ">
               Yowa Music
           </a>
            <button class="navbar-toggler ml-20" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item text-20">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item text-20">
                        <a class="nav-link" aria-current="page" href="/songs">Songs</a>
                    </li>
                    <li class="nav-item text-20">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item text-20 ms-md-5">
                        <a class="nav-link active" href="#"> <button type="button" id="adminName" class="btn bg-pink shadow"> <i class="fas fa-user"> <%= name %>
    </i>
    </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="d-flex  ">
        <section class="bg-white">

            <div class="containe d-flex" id="sidebar">
                <div class="d-flex mt-5 bg-white justify-content-center position-fixed shadow" style="width: 360px">
                    <div class="user  mt-5">
                        <img src="https://res.cloudinary.com/remilekunelijah/image/upload/v1614467615/wordpress/elijah_98807206.png" alt="" class=" mx-auto border-rounded border-0 shadow bg-dark mb-3" srcset="" style="width: 200px;">

                        <div class="d-flex align-items-center">
                            <button id="sidebartoggle" class="position-absolute btn  text-30 shadow bg-white border-0 "><i class="fas fa-caret-left"></i></button>
                            <li class="fas fa-user text-25 text-center" style="margin-top: -9px; margin-right: 10px;"></li>
                            <h2 class="ml-2 text-25">
                                <%= data.name%>
                            </h2>
                        </div>
                        <div class="d-flex align-items-center">
                            <li class="far fa-envelope text-25 text-center" style="margin-top: -9px; margin-right: 10px;"></li>
                            <h2 class="ml-2 text-20 email">
                                <%= data.email %>
                            </h2>
                        </div>

                        <div class="mt-5 pb-2">
                            <h3 class="text-danger">Danger Area</h3>
                            <div class="border border-2 p-2" style="border-radius: 5px;">
                                <p class="text-23 mb-0">Log out of your account</p>
                                <button class="btn btn-outline-danger mb-3 border border-danger" id="logout">Logout</button>
                                <p class="text-23 mb-0">Delete your account</p>
                                <form action="/admin/:email/destroyAccount" id="delAcct">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ms-auto containe px-3" id="body">
            <div class="d-flex justify-content-center  mt-100" style="margin-right: 1">

                <div class="row  justify-content-between">


                    <div class="bg-danger text-center text-white py-2 col-sm-4 card shadow border-0">
                        <h4 class="text-23">Songs uploaded </h4>
                        <span class="text-30 text-bold"><%= song.length %></span>
                    </div>

                    <div class="bg-dark text-center text-white py-2 col-sm-4  card shadow  border-0">
                        <h4 class="text-23">Images uploaded </h4>
                        <span class="text-30"><%= img.length %></span>
                    </div>

                    <div class=" bg-primary text-center text-white py-2 col-sm-4  card shadow border-0">
                        <h4 class="text-23">Videos uploaded </h4>
                        <span class="text-30 text-bold"><%= video.length %></span>
                    </div>
                </div>
            </div>

            <article class="mt-5 mb-5 pb-5">
                <form action="/admin/:email/upload" method="post" class="d-flex justify-content-center" enctype="multipart/form-data">
                    <fieldset class="mt-4">
                        <h1 class="mb-5 text-center">Upload new file</h1>

                        <div class="form-group d-flex justify-content-center">
                            <div class="w-60" style="margin-right: 10px !important">
                                <label for="file" class="text-20">File to upload <span class="requiredX text-danger">*</span></label>
                                <input type="file" placeholder="upload something" name="file" class="form-control" id="file" required>
                            </div>
                            <div class="w-50">
                                <label for="ftype" class="text-20">File type <span class="requiredX text-danger">*</span></label>
                                <select name="ftype" class="form-control" id="ftype" required>
                             <option disabled selected>File Type</option>
                             <option value="Audio">Audio</option>
                             <option value="Video">Video</option>
                             <option value="Image">Image</option>
                            </select>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center mt-4">
                            <div class="w-60" style="margin-right: 10px !important">
                                <label for="fname" class="text-20">File name <span class="requiredX text-danger">*</span></label>
                                <input type="text" placeholder="e.g Yowa - down on" name="fname" class="form-control" id="fname" required>
                            </div>
                            <div class="w-50">
                                <label for="xlink" class="text-20">External link </label>
                                <input type="text" placeholder="e.g https://audiomack.com/yowa_music/song/down-on-me" class="form-control" id="xlink" name="exLink">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger mt-4 form-control text-20">Upload File</button>
                    </fieldset>
                </form>

            </article>

            <!-- Songs From DB -->
            <h2 class="text-center text-success mb-4" id="alert"></h2>
            <div class="row justify-content-around mb-5">
                <%if(song[0]){%>

                    <h1 class="text-center mt-5 mb-5"> All songs </h1>
                    <% song.reverse().forEach( s => {%>



                        <div class="song shadow d-flex py-2 flex-column  col-sm-3 mx-2 justify-content-center align-items-center mb-5 mt-3 " style="border-radius: 20px">
                            <h4 class="">

                                <bold class="text-primary">
                                    <%=s.name%>
                                </bold>
                            </h4>
                            <div class="track flex-xs- align-items-center justify-content-around">
                                <audio controls class="px-xs-5 bg-light"><source  style="background-color: white !; border-radius: 20px;"src=" <%= s.path %> " type='audio/mp3' class="bg-white" preload="auto"></audio>
                                <div class="d-flex flex-row justify-content-between  mx-auto mt-xs-15" style="width: 200px;">
                                    <% let use = 'You';%>
                                        <% console.log(s.admin +' = '+ data.name, name)%>
                                            <%if (data.name != s.admin){%>
                                                <%  use = s.admin.split(' ')[0] }%>

                                                    <p class="text-20 mt-1"><i class="fas fa-user d-inline"></i>
                                                        <%= use%>
                                                    </p>

                                                    <a class="px-1 px-lg-0 text-18 btn" href="<%= s.xlink %>"><img src="/images/audiomack.png" alt="" srcset="" style="height: 20px; width: 40px;"></a>
                                                    <a>
                                                        
                                                        <a href="<%=s.path%>" download>
                                                            <button class="btn bg-pink text-18 fa fa-download py-2"></button>
                                                        </a>
                                                    </a>
                                                    <form action="/admin/:email/delete" id="delForm" method="POST">
                                                        <input type="text" name="file" value="<%=s.path%>" hidden>
                                                        <button type="submit" class="text-18 py-1 btn btn-danger"><i class="far fa-trash-alt "></i></button>
                                                    </form>
                                </div>
                            </div>
                        </div>


                        <% })%>

                            <%}%>
                                <%if(video[0]){%>
                                    <h1 class="text-center mt-5 mb-5"> All videos </h1>

                                    <% video.reverse().forEach( video =>{ %>

                                        <div class="video shadow d-flex py-2 flex-column  col-sm-3 justify-content-center align-items-center mt-3 mb-5 mx-2" style="border-radius: 20px !important; ">
                                            <video controls style="width: 100%;  height: 100%; border-radius: 20px" class=" bg-dark  px-sm-2 mb-2">
                                                <source src="<%=video.path %>#t=0.001 " type="video/mp4 ">
                                                            </video>
                                            <div class="d-flex flex-row justify-content-between  mx-auto mt-xs-15" style="width: 200px;">

                                                <% let use = 'You';%>
                                                    <%if (data.name != video.admin){%>
                                                        <%  use = video.admin.split(' ')[0] }%>

                                                            <p class="text-20 mt-1"><i class="fas fa-user d-inline"></i>
                                                                <%= use%>
                                                            </p>

                                                            <a href="<%=video.path%>" download>
                                                                <button class="btn bg-pink text-18 fa fa-download py-2"></button>
                                                            </a>
                                                            <form action="/admin/:email/delete" id="delForm" method="POST">
                                                                <input type="text" name="file" value="<%=video.path%>" hidden>
                                                                <button type="submit" class="text-18 py-1 btn btn-danger"><i class="far fa-trash-alt "></i></button>
                                                            </form>
                                            </div>
                                        </div>

                                        <%})%>
                                            <%}%>



                                                <%if(img[0]){%>
                                                    <h1 class="text-center mt-5 mb-5"> All images </h1>

                                                    <% img.reverse().forEach( img =>{ %>

                                                        <div class="image shadow d-flex py-2 flex-column  col-sm-3 mx-2 justify-content-center align-items-center mt-3 mb-5" style="border-radius: 20px">

                                                            <img src="<%=img.path %>" alt="" class="mx-sm-auto-lib center shadow  img-fluid mb-3" srcset="" style="border-radius: 20px">

                                                            <div class="d-flex flex-row justify-content-between  mx-auto mt-xs-15" style="width: 200px;">

                                                                <% let use = 'You';%>
                                                                    <%if (data.name != img.admin){%>
                                                                        <%  use = img.admin.split(' ')[0] }%>

                                                                            <p class="text-20 mt-1"><i class="fas fa-user d-inline"></i>
                                                                                <%= use%>
                                                                            </p>

                                                                            <a href="<%=img.path%>" download>
                                                                                <button class="btn bg-pink text-18 fa fa-download py-2"></button>
                                                                            </a>
                                                                            <form action="/admin/:email/delete" id="delForm" method="POST">
                                                                                <input type="text" name="file" value="<%=img.path%>" hidden>
                                                                                <button type="submit" class="text-18 py-1 btn btn-danger"><i class="far fa-trash-alt "></i></button>
                                                                            </form>
                                                            </div>
                                                        </div>

                                                        <%})%>
                                                            <%}%>

            </div>
        </section>
    </main>

    <%- include('../template/footer')%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
        <script src="/javascripts/jquery.min.js"></script>
        <script>
            $(document).ready(() => {

            })

            function clearCookie() {
                document.cookie = "info=j; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
            }
            // alert()
            document.querySelector("#logout").addEventListener("click", e => {
                clearCookie();
                document.location.href = "/admin/"
            })

            document.querySelectorAll(".edit").forEach(d => {
                d.addEventListener('click', e => {
                    document.querySelector("#file").value = e.target.parentElement.parentElement.parentElement.firstElementChild.firstElementChild.src
                        // console.log(e.target.parentElement.parentElement.parentElement.firstElementChild.firstElementChild.src)
                    console.log(document.querySelector("#file").value);
                })
            });
            document.querySelectorAll("#delForm").forEach(d => {
                d.addEventListener('submit', e => {
                    // alert(1234);
                    e.preventDefault();
                    let data = d.file;
                    console.log(data);
                    const uri = d.getAttribute('action') + `?file=${data.value}`;

                    $("#alert").removeClass("text-success").addClass("text-warning");
                    $("#alert").text('Processing request please wait...');

                    $.ajax({
                        url: uri,
                        type: 'DELETE',
                        contentType: 'application/json',
                        success: function(result) {
                            $("#alert").removeClass("text-warning").addClass("text-success");
                            $("#alert").text(result.msg);
                            setTimeout(() => document.location.reload(), 2000);
                        },
                        error: function(e) {
                            $("#alert").removeClass("text-warning").addClass("text-danger");
                            $("#alert").text(e.responseJSON.msg);
                            console.error(e)
                        }
                    });
                })
            });
            // delAcct
            document.querySelector("#delAcct").addEventListener('click', e => {
                e.preventDefault();
                const uri = document.querySelector("#delAcct").getAttribute('action');
                $("#alert").removeClass("text-success").addClass("text-warning");
                $("#alert").text('Processing request please wait...');

                $.ajax({
                    url: uri,
                    type: 'DELETE',
                    contentType: 'application/json',
                    success: function(result) {
                        $("#alert").removeClass("text-warning").addClass("text-success");
                        $("#alert").text(result.msg);
                        clearCookie();
                        setTimeout(() => document.location.href = '/admin', 2000);
                    },
                    error: function(e) {
                        $("#alert").removeClass("text-warning").addClass("text-danger");
                        $("#alert").text(e.responseJSON.msg);
                        console.error(e.state())
                    }
                });
            })
        </script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/app.js"></script>



</body>

</html>